<div class="app-header">

</div>

<div class="inquiry">
  <h1 class="text-center">HABITRAを作った人</h1>
  <div class="row">
    <%= image_tag("kota.jpg", class:"kota-photo text-center") %>
    <div class="intro-myself text-center">
      <p>徳永晃汰（コウタ）</p>
      <p>新卒でツアーコーディネーターとしてカンボジアに就職。</p>
      <p>所有資格：総合旅行業務取扱管理者,The Foudation of International Tourism with Amadeus by IATA</p>
      <p>⬇︎お問い合わせ＆ご要望やHABITRAに対するご意見などはTwitterのDMにて受付中⬇︎</p>
      <%= link_to "Twitter","https://twitter.com/kotaxi_garden",class:"text-info bg-transparent" %>
    </div>
  </div>
</div>
