// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tweet-box{
  width: 100%;
  margin: 0 auto;
}
.tweet-content{
  padding-top: 1rem;
}
.tweet-time {
  float:left;
}
.tweets-top{
  text-align: center;
  padding: 20px 0 20px 0;
}
.btn-tweet-new{
  margin-bottom: 20px;
}
.tweet-img{
  text-align: center;
}
.tweet-new{
  padding-top: 50px;
}
.app-header {
  padding-top: 50px;
}
